$font-gamer: "Press Start 2P";
$bg-gradiente: rgb(255, 129, 201);
$gradiente: linear-gradient(
  90deg,
  rgba(255, 166, 242, 1) 11%,
  rgba(255, 245, 182, 1) 50%,
  rgba(165, 221, 255, 1) 100%
);
$celeste-claro: #a0e7e5;
$menta: #B4F8C8;
$azul-oscuro: #256892;
$rosado: #FFAEBC;
$amarillo:#FBE7C6;
$text-shadow-rosa: 1px 2px 2px #fd0dbef0;
$text-shadow-celeste: 1px 2px 2px #a0e7e5;
$text-shadow-menta: 1px 2px 2px #B4F8C8;
$text-shadow-negro: 1px 2px 2px black;
$margin-top: 300px;
$animacion: true;
